
/* INDEX.HTML */
body {
  color: #40514E;
  margin: 0;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* START NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  min-height: 8vh;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  z-index: 1;
}

.logo {
  color: #265144;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  padding-left: 5%;
}


.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  padding-right: 2%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #265144;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
  padding-right: 3%;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #265144;
  margin: 5px;
  transition: all 0.3s ease;
} 

@media screen and (max-width: 1024px){
  .nav-links {
  width: 50%;
  }
}

@media screen and (max-width: 768px){
  body,html {
    overflow-x: hidden;
  } 

  .nav-links {
  position: absolute;
  right: 0px;
  /*height: 92vh;*/
  height: 70vh;
  top: 8vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .logo h4 {
    font-size: 14px;
  }

  div.section1 {
    padding-top: 20%;
    padding-bottom: 20%;
  }

  .title {
    font-size: 40px;
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 0;
  }

  div.top-service {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  }

  div.top-service-square {
  width: 50%;
}

  .burger {
    display: block;
  }

}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggley .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggley .line2{
  opacity: 0;
}
.toggley .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/* END NAV */


h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Rosario', cursive;
  color: #265144;
}

h2 {
  font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
  color: #265144;
  padding-bottom: 10px;
}


h3 {
  font-family: 'Raleway', sans-serif;
  /*color: #5c969e;*/
  color: #40826D;
}

a {
  /*color: #ffa5a5;*/
  font-family: 'Raleway', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  /*color: #ACACE6;*/
}

p {
  line-height: 2;
}

hr {
  border: dotted #ffa5a5 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


.service-icon {
  background-color: #265144;
}



.top-container {
  /*background-color: #40826D;*/
  background-image: url("../images/home-new.png");
  background-size: cover;
  /*position: relative;*/
  padding-top: 200px;
  padding-bottom: 200px;
}

.title {
  color: white;
}

.middletop-container {
  margin: 100px 100px;
}

.middle-container {
  margin: 100px 0;
}

.container {
  position: relative;
  min-height: 100vh;
}

.wrap {
  padding-bottom: 100px;
}

.bottom-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /*background-color: #A4CCBF;*/
  background-color: #265144;;
  padding-top: 20px;
}

.footer-link {
  color: white;
}


.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #40826D;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: white;
   /*background: #40826D;
   background-image: -webkit-linear-gradient(top, #A4CCBF, #40826D);
   background-image: -moz-linear-gradient(top, #A4CCBF, #40826D);
   background-image: -ms-linear-gradient(top, #A4CCBF, #40826D);
   background-image: -o-linear-gradient(top, #A4CCBF, #40826D);
   background-image: -webkit-gradient(to bottom, #A4CCBF, #40826D);*/
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #40826D;
   font-family: 'Lato', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px;
   border: solid #A4CCBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #A4CCBF 1px;
   background: #40826D;
   /*background: #A4CCBF;
   background-image: -webkit-linear-gradient(top, #A4CCBF, #A4CCBF);
   background-image: -moz-linear-gradient(top, #A4CCBF, #A4CCBF);
   background-image: -ms-linear-gradient(top, #A4CCBF, #A4CCBF);
   background-image: -o-linear-gradient(top, #A4CCBF, #A4CCBF);
   background-image: -webkit-gradient(to bottom, #A4CCBF, #A4CCBF);*/
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
   color: white;
}


/*INDEX.HTML*/

.middle-links{
columns: 2;
column-fill: auto;

}

.middle-links1 {
display: inline-block;


}
.middle-links2 {
  display: inline-block;



}

/* ABOUT.HTML */

.middle-about {
  margin-bottom: 5%;
}

.middle-about-2 {
  margin-bottom: 5%;
  margin-right: 2%;
  margin-left: 2%;
}

.middle-reviews {
  margin-bottom: 10%;
}


/* SERVICES.HTML */



/* CONTACT.HTML */

/*.top {
  position: relative;
}*/


.contact-box {
  width: 500px;
  background-color: white;
  box-shadow: 0 0 20px 0 #999;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%);  */
  transform: translate(-50%, 0%);
  /* position: absolute; */
  /* my added stuff */
  position: relative;
  margin-top: 5%;
  /* end of my added stuff*/
  margin-bottom: 10%;
}


form {
  margin: 35px;
  background-position: relative;

}

.contact-middle-container {
  margin-top: 0px;
  margin-bottom: 35px;
}

.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}

.textarea-field {
  height: 150px;
  padding-top: 10px;
}

.contactbtn {
  border-radius: 20px;
  color: white;
  margin-top: 18px;
  padding: 10px;
  background-color: #A4CCBF;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}





/* NEW INDEX CSS STUFF */

.new-nav {
  display: flex;
  justify-content: space-between;
}

.new-nav-logo {
  width: 40%;
}

.new-nav-links {
  width: 40%;
  /*display: flex;
  justify-content: center;*/
  padding-top: 2%;
}

.new-nav-logo a {
  color: #265144;
}

.new-nav-logo a:hover {
  color: #40826D;
}

#toptitlelogo {
  font-size: 1em!important;
}

.section1 {
  background-image: url("../images/painting.jpeg");
  opacity: 100%;
  background-size: cover;
  /*position: relative;*/
  padding-top: 200px;
  padding-bottom: 200px;

}

.section2 {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 15%;
  padding-left: 15%;
}

.section3 {
  padding-top: 2%;
  padding-bottom: 2%;
  /*background-color: #265144;*/
  /*background-color: #FFFCF5;*/
}

.section3 p {
  /*color: white;*/
}

.section3-title {
  font-weight: 600;
}

.top-service {
  columns: 4;
  padding-right: 2%;
  padding-left: 2%;
  /*display: flex;
  flex-direction: row;
  flex-flow: wrap;*/
}

/*.top-service-row {
  display: flex;
  flex-direction: row;
}*/

.top-service-square {
  /*width: 25%;
  height: auto;*/
}

.iconimg {
  height: 60%;
  width: 60%;
}

#services {
  /*color: white;*/
}


.section4 {
  padding-top: 4%;
  padding-bottom: 10%;
}

.section4-wrap {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
  padding-left: 35%;
  padding-right: 35%;
}

.section4-1 {
  justify-content: center;
  /*width: 50%;*/
}

.section4-2 {
  justify-content: center;

}

.section4 p {
  padding-left: 10%;
  padding-right: 10%;
}


.new-links {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.new-links li {
  list-style: none;
}

.new-links a{
  color: #265144;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1.1em;
}

.new-links a:hover {
  color: #40826D;
}

.resource-links a:hover{
  color: black;
}













